@{
    List<int> idsproductos =
    Context.Session.GetObject<List<int>>("IDSPRODUCTOS");
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AllSports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AllSports.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AllSports</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Deportes" asp-action="Index">AllSports</a>
                        </li>
                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UploadFiles" asp-action="SubirFichero">SubirFichero</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Deportes" asp-action="InsertProducto">INSERTPRODUCTO</a>
                        </li>
                    </ul>

                    <!-- Los dos últimos elementos movidos a la derecha -->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <div class="dropdown">
                                <div>
                                    <img class="align-content-center" src="~/Images/cuenta.jpg" alt="Mi cuenta" />
                                    <button class="dropbtn">Mi cuenta</button>
                                </div>
                              
                                <div class="dropdown-content">
                                    <a class="dropdown-item"  asp-controller="Deportes" asp-action="LogIn">Iniciar Sesión</a>
                                    <a class="dropdown-item"  asp-controller="Deportes" asp-action="Register">Registrarse</a>
                                </div>
                            </div> 
                        </li>

                       
                              <li class="nav-item">
                            <img class="align-content-center" src="~/Images/Carro.jpg" />
                            <a class="nav-link text-dark" asp-area="" asp-controller="Deportes" asp-action="ProductosAlmacenadosCarrito">Mi Cesta:
                                @if (idsproductos != null)
                                {
                                      @idsproductos.Count
                                }
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


 

   
</body>
</html>
