@model Producto

<h1>Realizar Compra</h1>

<form method="post">
    <div class="form-group">

       @*  IdCompra Auotincrementable y albaran ?
 *@
    

        <label for="IdProducto">Producto</label>
        <!-- Mostramos el nombre del producto y su precio en la lista desplegable -->
        <select class="form-control" id="IdProducto" name="IdProducto">
            <option value="">Selecciona un producto</option>
            <!-- Utilizamos las propiedades del objeto en Model para mostrar la información -->
            <option value="@Model.IdProducto">@Model.Nombre - Precio: $@Model.Precio</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Cantidad">Cantidad</label>
        <input type="number" class="form-control" id="Cantidad" name="Cantidad" min="1" required>
    </div>

    <div>
        <input type="datetime-local" class="form-control" id="FechaCompra" name="FechaCompra" required>
    </div>
    

   
    <div class="form-group">
        <label for="Descuento">Descuento (%)</label>
        <input type="number" class="form-control" id="Descuento" name="Descuento" min="0" max="100" required>
    </div>
    <button type="submit" class="btn btn-primary">Realizar Compra</button>
</form>

<script>
    // Obtener el elemento del campo de entrada por su ID
    var fechaCompraInput = document.getElementById('FechaCompra');

    // Crear una nueva fecha y hora actual
    var fechaActual = new Date();

    // Formatear la fecha y hora actual en un formato compatible con datetime-local
    var fechaActualFormatoLocal = fechaActual.getFullYear() + '-' +
        ('0' + (fechaActual.getMonth() + 1)).slice(-2) + '-' +
        ('0' + fechaActual.getDate()).slice(-2) + 'T' +
        ('0' + fechaActual.getHours()).slice(-2) + ':' +
        ('0' + fechaActual.getMinutes()).slice(-2);

    // Asignar la fecha y hora actual al campo de entrada
    fechaCompraInput.value = fechaActualFormatoLocal;
</script>


