@model List<DetalleDeporte>

<h1>CATEGORIAS PRODUCTOS</h1>

@if (@Model != null)
{
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <!-- Amplié el tamaño de la columna para que se ajuste mejor -->
                <div class="card p-3 shadow">
                    <label for="deporteSelect" class="form-label">Deportes: </label>
                    <div class="container">
                        <div class="row">
                            @foreach (var Deporte in Model)
                            {
                                <div class="col-md-2 mb-3">
                                    <!-- Ajusté el tamaño de la columna para mostrar 6 elementos por fila -->
                                    <!-- Añade margen inferior para separar las filas -->
                                    <a asp-action="CategoriasProducto" asp-controller="Deportes" asp-route-IdDetalleDeporte="@Deporte.IdDetalleDeporte">
                                        <div class="card p-4 shadow bg-primary text-white">
                                            <!-- Ajusté el tamaño de la tarjeta -->
                                            <label class="form-label">@Deporte.Nombre</label>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}