@model AllSports.Models.Producto

@{
    ViewData["Title"] = "InsertProducto";
   
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>InsertProducto</h1>

<h4>Producto</h4>
<hr />
<div class="row mb-5">
    <div class="col-md-4">
        <form asp-action="InsertProducto" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label"></label>
                <input asp-for="IdProducto" class="form-control" />
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Talla" class="control-label"></label>
                <input asp-for="Talla" class="form-control" />
                <span asp-validation-for="Talla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input  type="file" name="fichero" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IdCategoriaProducto" class="control-label"></label>
                <input asp-for="IdCategoriaProducto" class="form-control" />
                <span asp-validation-for="IdCategoriaProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion_Larga" class="control-label"></label>
                <input asp-for="Descripcion_Larga" class="form-control" />
                <span asp-validation-for="Descripcion_Larga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
